.tuval-datatable {}

.datatable-header {
    padding-left: 5px;
    font-size: 12px;
    font-weight: 600;
    height: 21px;
    border-right: solid 1px #ABABAB;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAVCAYAAACHUoQEAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAATklEQVQYV23EUQZAIRRF0TP/r2bSXCIiIiIi4hJx2W8Cb30sxRiRu6P3Hrr3IjND5xy090ZrLTTnRGMM1HtHrTVUa0WlFJRzRiml/0IIfMxXSxy5PHKlAAAAAElFTkSuQmCC');
}

.datatable-row {
    font-size: 12px;
}

.datatable-row-fixed {
    border-bottom: solid 1px #ABABAB;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAABCAYAAAAih6XvAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAAYElEQVQYVx3DiQ2EIAAAweu/CsqxAhAREOSRzxb2EieZ37ZtvO/LWos5J2MMeu+01nie51trpZRCzpmUEvd9E2MkhMB1XXjvcc5hreU8T4wxHMeB1pp9379KKaSUCCH4A0OSaJIKElkqAAAAAElFTkSuQmCC');
}

.even-row {
    background-color: #DBE3ED;
}

.odd-row {
    background-color: #C7CFD9;
}

.datatable-column-item {
    padding-left: 5px;
}