[class*=" icon-list-palette"],
[class^=icon-list-palette] {
    font-family: TuvalProcetraIcons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #888;
    margin-right: 10px;
    font-size: 14px;
}

.rotate-270 {
    transform: rotate(270deg);
}

.placeholder-icon {
    color: #f1f1f1;
    font-size: 90px;
}

.icon-list-palette-dashboard:before {
    content: "\f23c"
}

.icon-list-palette-process-explorer:before {
    content: "\f0a4"
}

.icon-list-palette-variant-explorer:before {
    content: "\f13b"
}

.icon-list-palette-activity-explorer:before {
    content: "\f0e7"
}

.icon-list-palette-line-chart:before {
    content: "\f0ca"
}

.icon-list-palette-text:before {
    content: "\f0ee"
}

.icon-list-palette-button:before {
    content: "\f12a"
}

.icon-list-palette-button-drop-down:before {
    content: "\f12d"
}

.icon-list-palette-resource:before {
    content: "\f007"
}

.icon-list-palette-case-selection:before {
    content: "\f033"
}

.icon-list-palette-activity:before {
    content: "\f0e1"
}

.icon-list-palette-activity-slider:before {
    content: "\f13f"
}

.icon-list-palette-connection-slider:before {
    content: "\f13e"
}

.panel-group {
    margin-bottom: 0;
    width: 100%;
    min-width: 250px;
    overflow-y: scroll;
}

.panel-group .panel {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    border: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.panel-group>.panel>.panel__header,
.panel-group>.panel>.ce-accordion_item__header {
    background: #f1f1f1;
    position: relative;
}

.panel__header,
.ce-accordion_item__header {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 40px;
    padding: 0 15px;
    border: 0;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 0 #e4e4e4;
}

a {
    color: #0D6B87;
    text-decoration: none;
    background-color: transparent;
}

.no-padding {
    padding: 0 !important;
}

.panel__body {
    position: relative;
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 15px;
}

.ce-list {
    overflow-y: auto;
}

.ce-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    height: 0px;
    min-height: 40px;
    vertical-align: middle;
    position: relative;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e4e4e4;
}

.ce-item.with-icon>.fa,
.checkbox .ce-item.with-icon>[type="checkbox"]:not(:checked)+label:after,
.checkbox .ce-item.with-icon>[type="checkbox"]:checked+label:after,
.ce-item.with-icon>[type="radio"]:not(:checked)+label:after,
.ce-item.with-icon>[type="radio"]:checked+label:after {
    margin-right: 10px;
}

.ce-item .fa,
.ce-item .checkbox [type="checkbox"]:not(:checked)+label:after,
.checkbox .ce-item [type="checkbox"]:not(:checked)+label:after,
.ce-item .checkbox [type="checkbox"]:checked+label:after,
.checkbox .ce-item [type="checkbox"]:checked+label:after,
.ce-item [type="radio"]:not(:checked)+label:after,
.ce-item [type="radio"]:checked+label:after {
    font-size: 14px;
}